
<div class="post">
    <h3>POST : <%= @post.content %><h3><h4> by <%= @post_owner.name %> </h4>

</div>


<%= form_for ([@post_owner,@post_owner.post_comments.build]) do |f| %>
    <%= f.hidden_field 'post_id', value: @post.id %>

    <p>
        <%= f.label :username, "Name" %>
        <%= f.text_field :username %>
    </p>

    <p>
        <%= f.label :body, "Your comment" %>
        <%= f.text_area :body, class: "wide-text-area"  %>
    </p>


    <p>
        <%= f.submit  ({:class => 'btn btn-primary'})%>
    </p>
<% end %>
